<h1>Welcome to <%= app_name %></h1>

<%= render "menu" %>

<p>
    <strong>Today:</strong> <%= date_br(Date.today) %>
</p>

<p>
    This application was developed as part of the course <em><%= @course %></em>.
</p>

<p>
    Developed by <strong><%= @author %></strong> (<strong><%= @name %></strong>)
</p>

<p>
    Software Engineer
</p>