<p>
    <%= link_to "Português", root_path(locale: 'pt-BR') %>
</p>
<p>
    <%= link_to "English", root_path(locale: 'en') %>
</p>

<h1>Welcome to <%= app_name %></h1>
<p>Selected language is: <strong><%= t('actual_locale') %></strong></p>

<p><%= I18n.t('hello') %><p>

<%= render "menu" %>

<p>
    <strong>Today:</strong> <%= I18n.l(Date.today) %>
</p>

<p>
    This application was developed as part of the course <em><%= @course %></em>.
</p>

<p>
    Developed by <strong><%= @author %></strong>
</p>

<p>
    Software Engineer
</p>